<div id="Container" class="container">
    <div class="row">
        
        <div class="col-lg-2">
            </div>
        <div class="col-lg-8">
            
            <input placeholder="First Name" ng-model="pass.drivfName" type="text" class="form-control" ng-repeat= "pass in DriverData"/>
            <input placeholder="Last Name" type="text" ng-model="pass.drivlName" class="form-control" ng-repeat= "pass in DriverData"/>
            <input placeholder="Email Address" ng-model="pass.drivEmail" type="text" class="form-control" ng-repeat= "pass in DriverData" />
            <!--<input placeholder="Mobile number" ng-model="driv.drivNumber" type="text" class="form-control" />-->
            <input placeholder="Previous Password" ng-model="pass.drivPassword" type="password" class="form-control" ng-repeat= "driv in DriverData" />
            <input placeholder="New Password" type="password" class="form-control" />
            <button class="btn btn-success" ng-click="editPass(pass)" style="margin-top: 20px">Submit</button>
            
    </div>
</div>
</div>
