
<h2 align="center"><b><i>RIDE ON CAB</i></b></h2><!--<div class="jumbotron text-center">-->
<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <div class="carousel slide" id="carousel-117560">
        <ol class="carousel-indicators">
          <li class="active" data-slide-to="0" data-target="#carousel-117560">
          </li>
          <li data-slide-to="1" data-target="#carousel-117560">
          </li>
          <li data-slide-to="2" data-target="#carousel-117560">
          </li>
        </ol>
        <div class="carousel-inner">
          <div class="item active">
            <img alt="Carousel Bootstrap First" src="public/images/cabfront.jpg" />
            <div class="carousel-caption">
              <!--<h4>
                First Thumbnail label
              </h4>
              <p>
                Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.
              </p>-->
            </div>
          </div>
          <div class="item">
            <img alt="Carousel Bootstrap Second" src="public/images/rideoncab.jpg" />
            <div class="carousel-caption">
              <!--<h4>
                Second Thumbnail label
              </h4>
              <p>
                Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.
              </p>-->
            </div>
          </div>
          <div class="item">
            <img alt="Carousel Bootstrap Third" src="public/images/yellowcab.jpg" />
            <div class="carousel-caption">
              <!--<h4>
                Third Thumbnail label
              </h4>
              <p>
                Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.
              </p>-->
            </div>
          </div>
        </div> <a class="left carousel-control" href="#carousel-117560" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a> <a class="right carousel-control" href="#carousel-117560" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
      </div>
    </div>
  </div>
</div>
